.chart-container {
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.chart-title {
  margin-bottom: 20px;
  text-align: center;
}

.chart-wrapper {
  border: 1px solid #965eeb;
  border-radius: 12px;
  padding: 16px;
  background: #fafafa;
}

/* Кастомизация тултипа */
.recharts-tooltip-wrapper .custom-tooltip {
  background: white;
  padding: 12px;
  border-radius: 6px;

  border: none;
}

.recharts-tooltip-label {
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.recharts-tooltip-item {
  color: #666;
  font-size: 13px;
}
